# GENERAL
NEXT_PUBLIC_PORT=
NEXT_PUBLIC_DOMAIN=
NEXT_PUBLIC_CONFIG={"firebase":{"apiKey":"AIzaSyCWpwb6O8pdYT6v4L4YajKfTLCa9XPOUGs","authDomain":"ebombo-events-dev.firebaseapp.com","projectId":"ebombo-events-dev","storageBucket":"ebombo-events-dev.appspot.com","messagingSenderId":"400641140585","appId":"1:400641140585:web:4edded714bb211fd8c7ff8","measurementId":"G-NWBPEND5Q0"},"firebaseBingo":{"apiKey":"AIzaSyDOsWCQ680tRldHqnkDnGSuxiPKH4aFUo8","authDomain":"bingo-dev-322514.firebaseapp.com","projectId":"bingo-dev-322514","storageBucket":"bingo-dev-322514.appspot.com","messagingSenderId":"513515398141","appId":"1:513515398141:web:3777fcb7c543a72bea2f94","measurementId":"G-E79L7Y61V4"},"bomboGamesUrl":"https://red.ebombo.io","storageUrl":"https://storage.googleapis.com/ebombo-events-dev.appspot.com","landingsStorageBucket":"ebombo-events-landings-dev","serverUrlLocal":"http://localhost:8080","serverUrl":"https://red-api.ebombo.com","environment":"development","analytics":"UA-174451724-1","maxAgeCache":86400}
